.body {
  padding: 15px;
  background-color: black;
}
.head {
  text-align: center;
  color: white;
  text-decoration: underline yellow;
  text-decoration-skip-ink: none;
  font-family: Georgia;
}
.text {
  color: white;
  font-family: Georgia;
  width: 100%;
}
.pic1 {
  width: 47%;
  box-shadow: 10px 15px yellow;
}
.pic2 {
  float: right;
  width: 47%;
  box-shadow: 10px 15px yellow;
}

/*computer*/
@media only screen and (max-width: 1100px) {
  .html {
    padding: 0px;
  }

  .head {
    font-size: 2em;
  }

  .text {
    font-size: large;
  }

  .pic1 {
    width: 45%;
    margin-left: 30px;
    margin-right: 15px;
  }
  .pic2 {
    width: 45%;
    margin-left: 30px;
    margin-right: 15px;
  }
}

/*tablet*/
@media only screen and (min-width: 1024px) and (max-width: 1100px) and (min-height: 1000px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 0;
    font-size: 35pt;
  }
  .text {
    font-size: 18pt;
  }
  .pic1 {
    margin-top: 3%;
    margin-left: 15%;
    width: 65%;
  }
  .pic2 {
    margin-top: 5%;
    margin-left: 15%;
    float: none;
    width: 65%;
  }
}

/*phone*/

@media only screen and (min-width: 821px) and (max-width: 1023px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 0;
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 3%;
  }
  .pic2 {
    float: none;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 3%;
  }
}

@media only screen and (width: 820px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 0;
    font-size: 30pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    margin-top: 3% !important;
    margin-left: 10% !important;
    width: 80% !important;
  }
  .pic2 {
    margin-top: 5% !important;
    margin-left: 10% !important;
    float: none;
    width: 80% !important;
  }
}

@media only screen and (width: 768px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 0;
    font-size: 30pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    margin-top: 3% !important;
    margin-left: 10% !important;
    width: 80% !important;
  }
  .pic2 {
    margin-top: 5% !important;
    margin-left: 10% !important;
    float: none;
    width: 80% !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 0;
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 3%;
  }
  .pic2 {
    float: none;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 500px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 0;
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;
    margin-top: 20%;
  }
  .pic2 {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
  }
}

@media only screen and (min-width: 430px) and (max-width: 450px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 10%;
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    width: 80%;
    margin-left: 10%;
  }
  .pic2 {
    float: none;
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 405px) and (max-width: 430px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 10%;
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
  .pic2 {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 351px) and (max-width: 405px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 10%;
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
  .pic2 {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 350px) {
  .html {
    padding: 70px;
  }
  .head {
    margin-top: 10%;
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic1 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
  .pic2 {
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
}
