.body {
  padding: 15px;
  background-color: black;
}
.head {
  text-align: center;
  color: white;
  text-decoration: underline yellow;
  text-decoration-skip-ink: none;
  font-family: Georgia;
}

.text {
  color: white;
  font-family: Georgia;
  width: 100%;
}

.pic1 {
  width: 47%;
  margin-left: 15px;
  box-shadow: 10px 15px yellow;
}
.pic2 {
  float: right;
  width: 47%;
  margin-right: 15px;
  box-shadow: 10px 15px yellow;
}

/*phone*/
@media only screen and (min-width: 500px) {
  .html {
    padding: 70px;
  }
  .head {
    font-size: 50pt;
  }
  .text {
    font-size: 35pt;
  }
  .pic {
    width: 100%;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 500px) {
  .html {
    padding: 70px;
  }
  .head {
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic {
    width: 60%;
    margin-bottom: 40px;
    margin-left: 80px;
  }
}

@media only screen and (min-width: 600px) {
  .html {
    padding: 70px;
  }
  .head {
    font-size: 25pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic {
    width: 60%;
    margin-bottom: 40px;
    margin-left: 120px;
  }
}

@media only screen and (min-width: 820px) {
  .html {
    padding: 70px;
  }
  .head {
    font-size: 30pt;
  }
  .text {
    font-size: 15pt;
  }
  .pic {
    width: 60%;
    margin-bottom: 40px;
    margin-left: 120px;
  }
}

/*tablet*/
@media only screen and (min-width: 1024px) {
  .html {
    padding: 70px;
  }
  .head {
    font-size: 35pt;
  }
  .text {
    font-size: 25pt;
  }
  .pic {
    width: 70%;
    margin-bottom: 40px;
    margin-left: 120px;
  }
}

/*computer*/
@media only screen and (min-width: 1100px) {
  .html {
    padding: 0px;
  }

  .head {
    font-size: 2em;
  }

  .text {
    font-size: large;
  }

  .pic {
    width: 45%;
    margin-left: 30px;
    margin-right: 15px;
  }
}
